<div class="container">
  <div class="cubo" id="tabla">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Matches">
          <th mat-header-cell *matHeaderCellDef> Partidos </th>
          <td mat-cell *matCellDef="let element"> {{transformObjectIntoArray(element.matches)}} </td>
        </ng-container>

        <ng-container matColumnDef="Data">
          <th mat-header-cell *matHeaderCellDef> Partidos </th>
          <td mat-cell *matCellDef="let element" (click)="seeData(element)">
            <mat-icon aria-hidden="false" aria-label="contract">book</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    
  </div>
  <div class="cubo" id="media">
    <ng-container *ngIf="openGraphics">
      <p-chart type="line" [data]="mediumChart"></p-chart>
    </ng-container>
  </div>
  <div class="cubo" id="tiro">
    <ng-container *ngIf="openGraphics">
      <p-chart type="line" [data]="shootingChart"></p-chart>
    </ng-container>
  </div>
  <div class="cubo" id="defensa">
    <ng-container *ngIf="openGraphics">
      <p-chart type="line" [data]="centerChart"></p-chart>
    </ng-container>
  </div>
  <div class="cubo" id="centro">
    <ng-container *ngIf="openGraphics">
      <p-chart type="line" [data]="defenseChart"></p-chart>
    </ng-container>
  </div>
</div>